<h2>Contact</h2>
<%= form_for @inquiry do |form| %>
<% if @inquiry.errors.any? %>
    <p id="error_explanation">未入力の項目があります。</p>
    <ul>
        <% @inquiry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% else %>
    <p>ご質問やご要望がある方は以下のフォームからお尋ねください。</p>
<% end %>
<dl>
    <dt><%= form.label :name %> *</dt>
    <dd><%= form.text_field :name %></dd>
    <dt><%= form.label :email %> *</dt>
    <dd><%= form.text_field :email %></dd>
    <dt><%= form.label :tel %></dt>
    <dd><%= form.text_field :tel %></dd>
    <dt><%= form.label :text %> *</dt>
    <dd><%= form.text_area :text, :size => "40x8" %></dd>
</dl>
<p class="listalign">
<%= form.submit :value => "送信する" %>
</p>
<% end %>
