<h2>Contact</h2>
<p>ご質問やご要望がある方は以下のフォームからお尋ねください。</p>
<%= form_for @inquiry do |form| %>
<dl>
    <dt>お名前</dt>
    <dd><%= form.text_field :name %></dd>
    <dt>E-mail</dt>
    <dd><%= form.text_field :email %></dd>
    <dt>Tel</dt>
    <dd><%= form.text_field :tel %></dd>
    <dt>内容</dt>
    <dd><%= form.text_area :text, :size => "40x8" %></dd>
</dl>
<p class="listalign">
<%= form.submit :value => "送信する" %>
</p>
<% end %>
