<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="description" content="小さな手作りパン工房、Coupé Baguette(クープ バゲット)のWebサイト。">
  <meta name="keywords" content="西脇市,パン,パン屋,Coupé Baguette,Coupe Baguette,クープ バゲット">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>Coupé Baguette クープ バゲット</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
    <div id="header">
        <p id="phrase">小さな手作りパン工房</p>
        <h1><%= link_to 'Coupe Baguette', action: 'home' %></h1>
        <ul>
            <li><%= link_to 'Concept', action: 'concept' %></li>
            <li><%= link_to 'Menu', action: 'menu' %></li>
            <li><%= link_to 'Shop Info', action: 'shop_info' %></li>
            <li>Blog</li>
        </ul>
    </div>
    <div id="content">
        <div id="image">
            <%= image_tag(action_name + ".jpg", size: "550x367", alt:"Pain") %>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </div>
    <div id="footer">
        <address>Copyright (C) Coupe Baguette All rights reserved.</address>
    </div>
</body>
</html>
